<div class="shedule__settings">
    <mat-form-field appearance="fill">
        <mat-label>Choose a week</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose source</mat-label>
        <mat-select [(ngModel)]="source">
            <mat-option value="groups">groups</mat-option>
            <mat-option value="teachers">teachers</mat-option>
            <mat-option value="rooms">rooms</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose element</mat-label>
        <mat-select>
        </mat-select>
    </mat-form-field>
</div>

<div class="shedule__body">
    <div class="shedule__column">
        <div class="shedule__header">
            time
        </div>
        <div class="gap"></div>
        <app-ruler></app-ruler>
    </div>
    <div class="shedule__column" *ngIf="shedule[0]">
        <div class="shedule__header">
            {{shedule[0].title | titlecase}}
        </div>
        <div class="gap"></div>

        <ng-container>
            <app-lesson-card *ngFor="let lesson of (shedule[0].lessons | sortByTime | addPreviousLessonEnd)" [lesson]="lesson"></app-lesson-card>
        </ng-container>


    </div>
    <div class="shedule__column">
        <div class="shedule__header">
            Tuesday
        </div>
        <div class="gap"></div>
    </div>
    <div class="shedule__column">
        <div class="shedule__header">
            Wednesday
        </div>
        <div class="gap"></div>
    </div>
    <div class="shedule__column">
        <div class="shedule__header">
            Thursday
        </div>
        <div class="gap"></div>
    </div>
    <div class="shedule__column">
        <div class="shedule__header">
            Friday
        </div>
        <div class="gap"></div>
    </div>
    <div class="shedule__column">
        <div class="shedule__header">
            Saturday
        </div>
        <div class="gap"></div>
    </div>
    <div class="shedule__column">
        <div class="shedule__header">
            Sunday
        </div>
        <div class="gap"></div>
    </div>
</div>
<button (click)="set()">set</button>
<button (click)="show()">show</button>