<div class="shedule__settings">
    <mat-form-field appearance="fill">
        <mat-label>Choose a week</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose source</mat-label>
        <mat-select [(ngModel)]="sourceType">
            <mat-option value="GROUPS">groups</mat-option>
            <mat-option value="TEACHERS">teachers</mat-option>
            <mat-option value="ROOMS">rooms</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose element</mat-label>
        <mat-select [(ngModel)]="sourceId">
            <ng-container *ngIf="sourceType === 'TEACHERS'">
                <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.firstName + ' ' +
                    teacher.lastName}}</mat-option>
            </ng-container>
            <ng-container *ngIf="sourceType === 'GROUPS'">
                <mat-option *ngFor="let group of groups" [value]="group.id">{{group.title}}</mat-option>
            </ng-container>
            <ng-container *ngIf="sourceType === 'ROOMS'">
                <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.title}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="show(this.date, this.sourceType, this.sourceId)">Show
        shedule</button>
</div>
<div class="shedule__body">
    <div class="shedule__column">
        <div class="shedule__header">
            time
        </div>
        <div class="gap"></div>
        <app-ruler></app-ruler>
    </div>

    <div class="shedule__column" *ngFor="let day of (lessons | sortByDays)">
        <div class="shedule__header">
            {{day.title | titlecase}}
        </div>
        <div class="gap"></div>

        <app-lesson-card *ngFor="let lesson of (day.lessons | sortByTime | addPreviousLessonEnd)" [lesson]="lesson">
        </app-lesson-card>
    </div>
</div>