<div class="shedule__settings">
    <mat-form-field appearance="fill">
        <mat-label>Choose a week</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose source</mat-label>
        <mat-select [(ngModel)]="source">
            <mat-option value="groups">groups</mat-option>
            <mat-option value="teachers">teachers</mat-option>
            <mat-option value="rooms">rooms</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose element</mat-label>
        <mat-select [(ngModel)]="element">
            <mat-option *ngFor="let element of elements" [value]="element">{{element}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button (click)="set1()">set1</button>
<button (click)="set2()">set2</button>
<button (click)="show(this.date)">show</button>

<div class="shedule__body">
    <div class="shedule__column">
        <div class="shedule__header">
            time
        </div>
        <div class="gap"></div>
        <app-ruler></app-ruler>
    </div>

    <div class="shedule__column" *ngFor="let day of (lessons | sortByDays)">
        <div class="shedule__header">
            {{day.title | titlecase}}
        </div>
        <div class="gap"></div>

        <app-lesson-card *ngFor="let lesson of (day.lessons | sortByTime | addPreviousLessonEnd)" [lesson]="lesson">
        </app-lesson-card>
    </div>
</div>